#contactForm {
    text-align: center;
    padding: 0.8em 0;
}

.form-group {
    margin-bottom: 0.2em;
}

#addressContainer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.inputStyle {
    margin-left: 0.5em;
}
