@font-face {
    font-family: Aileron-Regular;
    src: url("../fonts/Aileron-Regular.otf") format("opentype");
}

#navContainer {
    font-family: 'Aileron-Regular';
    /* font-style: italic; */
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    color: #225994;
    background-color: #cbcbcb;
    padding: 0.5em 9em;
    margin-bottom: 0;
}

.navItem:hover {
    transform: scale(1.2);
    transition: transform .25s ease;
}

.linkStyle {
    color: #225994;
}

.linkStyle:hover,
.linkStyle:active {
    text-decoration: none;
    color: #133b7c;
}
